<div>
<h2><%= @user.name %></h2>
<% @user.courses.each do |course| %>
    <div><%= course.name %></div>
        <% course.students.each do |stud| %>
            <div><%= stud.name %></div>
        <% end %>

<% end %>
</div>

<%= form_with url: update_courses_path(@user), method: :post do |f|  %>

         <%= f.collection_select(:user_ids, User.all_students, :id, :name) %>
<%= f.submit "Add to Class"%>
<% end %>
<% if @enroll %>
<% if @enroll.errors%>
    <%@enroll.errors.full_messages.each do |x| %>
        <%= x %>
    <% end %>
<% end %>
<% end %>