<div id="edit_page">
<div id="edit_form">
<%= form_for @user do |f| %>
<div><%= f.label :name %></div>
<div><%= f.text_field :name %></div>
<div><%= f.label :email %></div>
<div><%= f.email_field :email %></div>
<div><%= f.label :password %></div>
<div><%= f.password_field :password %></div>
<div><%= f.label :password_confirmation %></div>
<div><%= f.password_field :password_confirmation %></div>
<div><%= f.submit %></div>
<% end %>
<%= link_to "Join the Muggles and leave Hogwarts", user_path(@user), :method => :delete %>

<% if @current.errors %>
    <% @current.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>
</div>
</div>