<div class="subject_page">
    <div id="subject_style">
    <h1><%= @subject.name %></h1>
    <% if @current == @subject.professor %>
        <%= form_for @subject do |f| %>
        <%= f.label "Subject Name" %>
        <%= f.text_field :name %>
        <%= f.submit %>
            <% if @subject.errors %>
                <% @subject.errors.full_messages.each do |message| %>
                    <%= message %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
    
    <h2><%= @subject.professor.name %></h2>
    <% @subject.students.each do |student| %>
    <div><span style="font-size: 25px"><%= student.name %></span>  <span style="color: blue"><%= link_to "Remove From Class", enrollment_path(@subject.enrollments.find_by(student: student)), :method => :delete if @current == @subject.professor %></span></div>
    <% end %>
    <br>
    <% if @current == @subject.professor %>
        <%= form_for @subject, url: update_course_path(@subject), method: :post do |f|  %>

            <%= f.collection_select(:student_ids, User.all_students, :id, :name) %>
            <%= f.submit "Add to Class"%>
        <% end %>
        
        <div><%= link_to "Delete This Subject", subject_path(@subject), :method => :delete %></div>

        <% if @enroll %>
            <% if @enroll.errors%>
            <span class="error">Student already in class</span>
            <% end %>
        <% end %>
    <% end %>
    </div>
</div>