<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <div id="nav_bar">
      <%= link_to "Home", "/" %> | <%= link_to "Houses", houses_path %> | <%= link_to "New User", new_user_path %> | <%= link_to "ALL STUDENTS", students_path %> | <%= link_to "All Professors", professors_path %> | <%= link_to "LOGOUT FIRST", logout_path, :method => :post %>
      </div>
    <% else %>
    <div id="nav_bar">
      <%= link_to "Home", "/" %> | <%= link_to "Houses", houses_path %> | <%= link_to "New User", new_user_path %> | <%= link_to "ALL STUDENTS", students_path %> | <%= link_to "All Professors", professors_path %> | <%= link_to "Log In", login_path %>
      </div>
    <% end %>
 

    <%= yield %>


  </body>
</html>
