<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <div id="nav_bar">
      <%= link_to "Home", "/" %> | 
      <%= link_to "Houses", houses_path %> |
      <%= link_to "All Students", students_path %> |
      <%= link_to "All Professors", professors_path %> |  
      <% if session[:user_id] %>
        <%= link_to "Logout", logout_path, :method => :post %>
      <% else %>
        <%= link_to "New User", new_user_path %> | 
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <%= yield %>


  </body>
</html>
